.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 250px;
  height: 120px !important;
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.card .category-name {
  background-color: #1e90ff;
  color: #fff;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}

.card .category-name:hover {
  background-color: #4682b4;
}

.card .category-name:focus {
  outline: none;
}
