<!-- Footer -->
<footer
  class="text-center text-lg-start text-muted pt-2"
  style="background-color: #fbf7ef"
>
  <!-- Section: Links  -->
  <section>
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Empresa -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Mármoles La Zubia
          </h6>
          <p>
            Especialistas en mármoles, granitos y compactos para cocinas, baños
            y decoración. Más de 40 años de experiencia ofreciendo calidad y
            diseño a medida.
          </p>
        </div>

        <!-- Servicios -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Servicios</h6>
          <p><a href="#!" class="text-reset">Encimeras de cocina</a></p>
          <p><a href="#!" class="text-reset">Baños a medida</a></p>
          <p><a href="#!" class="text-reset">Escaleras y suelos</a></p>
          <p><a href="#!" class="text-reset">Diseños personalizados</a></p>
        </div>

        <!-- Enlaces útiles -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Enlaces útiles</h6>
          <p><a href="#!" class="text-reset">Catálogo</a></p>
          <p><a href="#!" class="text-reset">Presupuestos</a></p>
          <p><a href="#!" class="text-reset">Galería</a></p>
          <p><a href="#!" class="text-reset">Contacto</a></p>
        </div>

        <!-- Contacto -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
          <p><i class="fas fa-home me-3"></i> La Zubia, Granada, España</p>
          <p><i class="fas fa-envelope me-3"></i> info@marmoleslazubia.com</p>
          <p><i class="fas fa-phone me-3"></i>+34 958 59 11 96</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2025 Copyright:
    <a class="text-reset fw-bold" href="/">marmoleslazubia.com</a>
  </div>
</footer>
<!-- Footer -->
