<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <%- include('modules/links.ejs') %>
  </head>
  <body>
    <%- include('modules/navbar.ejs') %>
    <!-- section 1 carrusel-->
     <!-- Carousel wrapper -->
<main>
  <div id="introCarousel" class="carousel slide carousel-fade shadow" data-bs-ride="carousel">
    <!-- Indicators -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#introCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#introCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#introCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
  
    <!-- Inner -->
    <div class="carousel-inner">
      <!-- Slide 1 -->
      <div class="carousel-item active">
        <!-- Se utiliza un div para el efecto overlay -->
       <div class="d-flex justify-content-center align-items-center h-100" style="background-color: rgba(0, 0, 0, 0.6);">
          <div class="text-white fs-5 d-none d-md-block text-center">
            <h2>Encimeras a medida para cocinas y baños</h2>
            <h4>Nos encargamos de todo: medición, fabricación e instalación con acabados a tu gusto.</h4>
          </div>
        </div>
      </div>
  
      <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center h-100" style="background-color: rgba(0, 0, 0, 0.6);">
          <div class="text-white text-center">
            <h1 class="mb-3">Transformamos tus ideas en mármol</h1>
            <h5 class="mb-4">Fuentes, columnas y chimeneas en mármol con diseños personalizados.</h5>
            <a class="btn btn-outline-light btn-lg m-2" href="https://www.youtube.com/watch?v=c9B4TPnak1A" role="button" target="_blank" rel="nofollow">Nuestros Productos</a>
            <a class="btn btn-outline-light btn-lg m-2" href="https://mdbootstrap.com/docs/standard/" role="button" target="_blank">Regalos</a>
          </div>
        </div>
  
      </div>
  
      <!-- Slide 3 -->
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center h-100" style="background-color: rgba(0, 0, 0, 0.6);">
          <div class="text-white d-none d-md-block">
            <h2>Columnas y pilares en mármol con diseños únicos y personalizados.</h2>
            <a class="btn btn-outline-light btn-lg m-2" href="https://mdbootstrap.com/docs/standard/content-styles/masks/" role="button" target="_blank">Nuestros Servicios</a>
          </div>
        </div>
      </div>
    </div>
    <!-- End Inner -->
  
    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#introCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#introCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- End Carousel wrapper -->
  <!-- section2 -->
   <section>
    <div class="container-xxl">
      <div class="row">
          <div class="col-12 col-md-12 col-lg-12 text-center p-5">
            <h2 class="fw-bold">Desde hace más de 40 años, damos forma a lo que imaginas.
              <br>
              Cada proyecto es único, cada pieza, una obra en piedra.          
              </h2>
            <p class="mt-5 fs-5">Mármoles La Zubia es una empresa andaluza con<strong> más de 40 años </strong>de experiencia en la transformación y comercialización de mármol, granito y piedra natural para todo tipo de proyectos.
            </p>
              <p class="mt-2 fs-5">Contamos con una <strong>amplia experiencia</strong> que nos permite abordar cada trabajo con eficiencia, cuidando cada detalle desde el diseño hasta la instalación final.</p>
              
              <p class="mt-2 fs-5">Arquitectos, diseñadores y profesionales del sector confían en nosotros por la calidad de nuestros materiales y el compromiso que ofrecemos en cada proyecto.</p>
          </div>
      </div>
    </div>
   </section>
  <!-- section 3 -->
   <section class="section-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-7 col2">
        </div>
        <div class="col-12 col-md-6 col-lg-5 p-3 px-5 justify-content-center align-content-center col-3">
          <h4 class="fw-bold"> Diseña con libertad, nosotros lo materializamos en piedra</h4>
          <p class=" fs-5 mt-4">Trabajamos todo tipo de piedra natural, Silestone, Compac, Quarella, mármol, granito con sus diferentes acabados: brillo, satinad, envejecido...Nos encargamos de la medición, ejecución y colocación.</p>
        </div>
      </div>
    </div>
   </section>
   <!-- Section-4 Mármoles -->

   <!-- section-4 -->
   <section class="section-4 my-5">
    <div class="container-xxl">
      <div class="row text-center justify-content-center align-content-center">
        <h2 class="my-4">Aplicaciones del Mármol y la Piedra Natural</h2>
        <p class="mb-5">El mármol y la piedra natural no solo añaden un toque de sofisticación y elegancia, sino que también brindan una durabilidad incomparable, lo que los convierte en una opción ideal para cualquier proyecto. Ya sea que estés renovando tu hogar, construyendo un nuevo espacio o creando detalles únicos, estos materiales transformarán tu visión en una realidad atemporal. Con una amplia variedad de texturas, colores y acabados, el mármol y la piedra natural ofrecen soluciones personalizadas que se adaptan perfectamente a tus necesidades, asegurando que cada rincón de tu proyecto refleje calidad y estilo. ¡Haz de tu espacio un lugar memorable con la belleza natural de estos materiales excepcionales!</p>
        <div class="col-6 col-md-4 col-lg-4 sec4-col1">
          <div class="overlay">
            <div class="texto">Baños</div>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-4 sec4-col2">
          <div class="overlay">
            <div class="texto">Cocinas</div>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-4 sec4-col3">
          <div class="overlay">
            <div class="texto">Escaleras y balustradas</div>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-4 sec4-col4">
          <div class="overlay">
            <div class="texto">Portales y Fachadas</div>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-4 sec4-col5">
          <div class="overlay">
            <div class="texto">Lápidas y bóvedas</div>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-4 sec4-col6">
          <div class="overlay">
            <div class="texto">Muebles de baño</div>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-4 sec4-col7">
          <div class="overlay">
            <div class="texto">Platos de ducha</div>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-4 sec4-col8">
          <div class="overlay">
            <div class="texto">Panteones</div>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-4 sec4-col9">
          <div class="overlay">
            <div class="texto">Solerías y zócalos</div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- section 5 -->
   <section class="section-5 py-5">
    <div class="container-xxl">
      <div class="row text-center justify-content-center align-content-center gap-2">
        <h2 class="my-4">Mármoles</h2>
        <p class="mb-5">  </p>
        <div class="col-6 col-md-4 col-lg-4 sec5-col1">
          <div class="overlay">
            <div class="texto">Blanco Carrara</div>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-4 sec5-col2">
          <div class="overlay">
            <div class="texto">Blanco Macael</div>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-4 sec5-col3">
          <div class="overlay">
            <div class="texto">Crema Marfil</div>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-4 sec5-col4">
          <div class="overlay">
            <div class="texto">Gris Cehin</div>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-4 sec5-col5">
          <div class="overlay">
            <div class="texto">Rojo Ceghin</div>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-4 sec5-col6">
          <div class="overlay">
            <div class="texto">Travertino</div>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-4 sec5-col7">
          <div class="overlay">
            <div class="texto">Verde Olivo</div>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-4 sec5-col8">
          <div class="overlay">
            <div class="texto">Verde Ubatuba</div>
          </div>
        </div>
      </div>
    </div>
   </section>
  
</main>
<%- include('modules/footer.ejs') %>
     
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
  </body>
</html>